/* Début de la section Actualités */

#actu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 50px;
}

#actu h1 {
	padding: 30px;
	margin-left: 30px;
	font-size: 30px;
}

#actu #contentActu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#actu #contentActu .preview {
	width: 300px;
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#actu #contentActu .preview .fakeImage1 {
	background-image: url("../media/landscape1.jpg");
	height: 100px;
	width: 300px;
}

#actu #contentActu .preview .fakeImage2 {
	background-image: url("../media/landscape2.jpg");
	height: 100px;
	width: 300px;
}

#actu #contentActu .preview .fakeImage3 {
	background-image: url("../media/landscape3.jpg");
	height: 100px;
	width: 300px;
}

#actu #contentActu .preview .fakeImage4 {
	background-image: url("../media/landscape4.jpg");
	height: 100px;
	width: 300px;
}

/* Fin de la section Actualités */

/* Début de la section Histoire */

#story {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	background-color: #383838;
	margin-bottom: 20px;
}

#story h1 {
	color: white;
	padding: 30px;
	margin-left: 30px;
	font-size: 30px;
}

#story #contentStory {
	padding-top: -30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#story #contentStory p {
	color: white;
	width: 800px;
}

#story #contentStory .fakeImageStory {
	background-image: url("../media/example1.jpg");
	background-size: 100%;
	height: 250px;
	width: 400px;
}

/* Fin de la section Histoire */

/* Début de la section Classes */

#class {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 50px;
}

#class h1 {
	padding: 30px;
	margin-left: 30px;
	font-size: 30px;
}

#class #contentClass {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#class #contentClass .previewClass {
	width: 300px;
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#class #contentClass .previewClass .fakeClass1 {
	background-image: url("../media/94065_d0628_FULL.jpg");
	background-position: 0px -60px;
	background-size: 100%;
	height: 180px;
	width: 300px;
}

#class #contentClass .previewClass .fakeClass2 {
	background-image: url("../media/terry1.jpg");
	background-size: 110%;
	height: 180px;
	width: 300px;
}

#class #contentClass .previewClass .fakeClass3 {
	background-image: url("../media/terry2.jpg");
	background-size: 100%;
	height: 180px;
	width: 300px;
}

#class #contentClass .previewClass .fakeClass4 {
	background-image: url("../media/terry3.png");
	background-position: 0px -60px;
	background-size: 100%;
	height: 180px;
	width: 300px;
}

/* Fin de la section Classes */

/* Début de la section Cartes */

#card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	background-color: #383838;
	padding-bottom: 50px;
}

#card h1 {
	color: white;
	padding: 30px;
	margin-left: 30px;
	font-size: 30px;
}

#card #contentCard {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#card #contentCard .previewCard {
	height: 330px;
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#card #contentCard .previewCard .fakeClass1 {
	background-image: url("../media/card1.png");
	background-size: 100%;
	height: 290px;
	width: 200px;
}

#card #contentCard .previewCard .fakeClass2 {
	background-image: url("../media/card2.png");
	background-size: 100%;
	height: 290px;
	width: 200px;
}

#card #contentCard .previewCard .fakeClass3 {
	background-image: url("../media/card3.jpg");
	background-size: 100%;
	height: 290px;
	width: 200px;
}

#card #contentCard .previewCard .fakeClass4 {
	background-image: url("../media/card4.jpg");
	background-size: 100%;
	height: 290px;
	width: 200px;
}

#card #contentCard .previewCard .fakeClass5 {
	background-image: url("../media/card5.jpg");
	background-size: 100%;
	height: 290px;
	width: 200px;
}

#card #contentCard .previewCard h3 {
	color: white;
}

/* Fin de la section Cartes */
