* {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow-x: hidden;
}
body * {
        display: flex;
}
/*----------------------------- JEU --------------------------------------*/
.gameContainer {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.side {
  height: 20%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.discardContainer {
  justify-content:space-around;
  align-items: center;
  height: 100%;
  width: 20%;
}

.drawContainer {
  height: 100%;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.hand {
  height: 100%;
  width: 50%;
  border: black 1px solid;
  justify-content: space-around;
  align-items: center;

}

.handCards {
  height: 70%;
  width: 10%;
  border: black 1px solid;
}

.side2{
  height: 30%;
  width: 100%;
  justify-content: space-around;
  align-items: center;;
}
.avatar{
  height: 100%;
  width: 20%;
  justify-content: center;
  align-items: center;
}

#picture {
  height: 100%;
  width: 150px;
  margin-left: -100px;
  border: black 1px solid;
}

.board{
  width: 50%;
  height: 100%;
  border: black 1px solid;
}

.mana {
  height: 100%;
  width: 20%;
  padding-left: 20px;
  justify-content:flex-start;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.inkStain {
  height: 40px;
  width: 40px;
  border: black 1px solid;
}

.draw {
  height: 60%;
  width: 25%;
  border: black 1px solid;
}

.discard {
  height: 60%;
  width: 25%;
  border: black 1px solid;
}
