* {
	box-sizing: border-box;
	margin: 0;
  color: black;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #f5f5f5;
}

/* Début du header */

header {
	display: flex;
	flex-direction: column;
  background-image: url("../media/okina-stage.gif");
  background-position: 0px -350px;
	color: white;
	height: 500px;
	width: 100%;
}

header #top {
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: auto;
  margin-right: auto;
	width: 1400px;
}

header #top a {
	color: white;
	text-decoration: none;
}

header #top #logo {
	background-image: url("../media/94065_d0628_FULL.jpg");
	background-position: 0px -90px;
	background-size: 100%;
	width: 300px;
}

header #top #account {
	padding: 20px;
	background-color: white;
	color: black;
	border-radius: 20px;
	padding: 20px;
	transition: 1s;
}

header #top #account:hover {
	color: white;
	background-color: #E4002B;
	transition: 1s;
}

/* Début du nav */

header #menu {
	padding: 20px;
	border-radius: 20px;
	background-color: #7c7c7c;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
}

header #menu ul {
	list-style-type: none;
}

header #menu ul li {
	display: inline;
	margin-right: 15px;
}

header #menu a {
	font-weight: bold;
  color: white;
	text-decoration: none;
	transition: 1s;
}

header #menu a:hover {
	color: #E4002B;
	transition: 1s;
}

/* Fin du nav */

/* Fin du header */

/* Début de la section Actualités */

#actu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 50px;
}

#actu h1 {
	padding: 30px;
	margin-left: 30px;
	font-size: 30px;
}

#actu #contentActu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#actu #contentActu .preview {
	width: 300px;
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#actu #contentActu .preview .fakeImage {
	background-color: black;
	height: 100px;
	width: 300px;
}

/* Fin de la section Actualités */

/* Début de la section Histoire */

#story {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	background-color: grey;
	margin-bottom: 20px;
}

#story h1 {
	padding: 30px;
	margin-left: 30px;
	font-size: 30px;
}

#story #contentActu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#story #contentActu .preview {
	width: 300px;
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#story #contentActu .preview .fakeImage {
	background-color: black;
	height: 100px;
	width: 300px;
}

/* Fin de la section Histoire */

/* Début de la section Classes */

#class {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}

#class h1 {
	padding: 30px;
	margin-left: 30px;
	font-size: 30px;
}

#class #contentActu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#class #contentActu .preview {
	width: 300px;
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#class #contentActu .preview .fakeImage {
	background-color: black;
	height: 100px;
	width: 300px;
}

/* Fin de la section Classes */

/* Début du footer */

footer {
	background-color: dimgray;
	width: 100%;
	height: 200px;
}

/* Fin du footer */
