* {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow-x: hidden;
}
body * {
        display: flex;
}

/*----------------------------- JEU --------------------------------------*/
.gameContainer {
  height: 100vh;
  width: 100vw;
  /* background-image: url(../media/fond4.jpeg); */
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/*----------------------------- Hands --------------------------------------*/
.side {
  height: 20%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.avatar{
  height: 100%;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.picture {
  height: 100%;
  width: 150px;
  margin-left: -100px;
  border: black 1px solid;
}

.avatarPict {
  height: 100%;
  width: 100%;
}

.hand {
  height: 100%;
  width: 50%;
  /* background-image: url(../media/fond2.jpeg); */
  justify-content: space-around;
  align-items: center;

}

.handCards {
  height: 70%;
  width: 12%;
  border: black 1px solid;
  position: relative;
}

.cardPict {
  height: 100%;
  width: 100%;
}

/* .handCards:hover .cardpict{
  transition: 1s;
  transform: scale(5);
} */

.mana {
  height: 100%;
  width: 20%;
  padding-left: 20px;
  justify-content:flex-start;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.inkStain {
  height: 40px;
  width: 40px;
}

.inkStainPict{
    height: 100%;
    width: 100%;
}

/*----------------------------- Boards --------------------------------------*/
.discardContainer {
  justify-content:space-around;
  align-items: center;
  height: 100%;
  width: 20%;
}

.drawContainer {
  height: 100%;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.side2{
  height: 30%;
  width: 100%;
  justify-content: space-around;
  align-items: center;;
}

.board{
  width: 50%;
  height: 100%;
  /* background-image: url(../media/fond2.jpeg); */
  border: black 1px solid;
}

.cardBoard {
  width: 20%;
  height: 100%;
  border: black 1px solid;
}

.draw {
  height: 60%;
  width: 25%;
  border: black 1px solid;
}

.drawPict {
  height: 100%;
  width: 100%;
}

.discard {
  height: 60%;
  width: 25%;
  border: black 1px solid;
}

.discardPict {
  height: 100%;
  width: 100%;
}
