* {
	box-sizing: border-box;
	margin: 0;
  color: black;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #f5f5f5;
}

/* Début Dropdown */

.dropdown {
	color: black;
  position: relative;
  display: inline-block;
}

.dropdown-content {
	color: black;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 999;
}

.dropdown-content a {
	color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Fin Dropdown */

/* Début nav Top */

#top {
	position: absolute;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	left: 0;
	top: 0;
	right: 0;
	margin: auto;
	width: 1400px;
}

#top a {
	/* color: white; */
	text-decoration: none;
}

#top #logo {
	background-image: url("../media/94065_d0628_FULL.jpg");
	background-position: 0px -90px;
	background-size: 100%;
	width: 300px;
}

#top #account {
	padding: 20px;
	background-color: white;
	color: black;
	border-radius: 20px;
	padding: 20px;
	transition: 1s;
}

#top #account:hover {
	color: white;
	background-color: #E4002B;
	transition: 1s;
}

/* Fin Nav Top */

/* Début du nav menuGlobal */

/* C'est dégueulasse, ça me casse les couilles */

/* Sticky Nav */

.fixed {
    position: sticky;
    top: 0;
		width: 100%;
		z-index: 5;
		transition-property: width;
    transition-duration: 1s;
}

/* Fin Sticky Nav */

.base {
	width: 1400px;
	border-radius: 20px;
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 5;
	transition: 1s;
}

#menuGlobal {
	padding: 20px;
	background-color: #383838;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

#menuGlobal ul {
	list-style-type: none;
}

#menuGlobal ul li {
	display: inline;
	margin-right: 15px;
}

#menuGlobal a {
	font-weight: bold;
  color: white;
	text-decoration: none;
}

#menuGlobal a:hover {
	color: #E4002B;
	transition: 1s;
}

/* Fin du nav menuGlobal */

/* Début du footer */

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #000000;
	height: 150px;
	width: 100%;
}

footer article p {
	color: white;
	text-transform: uppercase;
}

footer article p span {
	color: #E4002B;
	text-transform: uppercase;
}

/* Fin du footer */
